@import '../util/_theme';
@import '../util/vars';

#blurb {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.1rem;
  color: $old-lace;
  &.centered {
    align-items: center;
  }
}
.blurb__title {
  font-weight: 500;
  font-size: 1.5rem;
}
.blurb__initial {
  font-weight: 500;
  font-size: 2rem;
  &:first-of-type {
    padding-bottom: 10px;
    border-bottom: 2px solid $nyanza;
  }
  &:last-of-type {
    margin-top: 8px;
  }
}

@media (min-width: $desktop-width) {
  .blurb__title {
    font-size: 2rem;
  }
  .blurb__intro {
    font-size: 1.2rem;
  }
}
