@import '../util/theme';
@import '../util/vars';

#nav {
  position: fixed;
  top: 0;
  padding: 10px;
  background: $slate-gray;
  color: $old-lace;
  height: auto;
  max-height: 48px;
  overflow-y: hidden;
  transition: max-height 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  box-shadow: 0px -29px 40px 25px #534a4a;
  z-index: 1;
  width: 100%;
  &.expanded {
    max-height: 350px;
  }
  &.desktop {
    justify-content: space-between;
  }
  @media (min-width: $desktop-width) {
    height: 100%;
    max-height: none;
    width: 48px;
    box-shadow: -19px -29px 40px 25px #534a4a;
    &.expanded {
      width: 440px;
      max-height: none;
    }
  }
}
.nav__header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid $nyanza;
  margin-bottom: 20px;
  &.desktop-min {
    border-bottom: none;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.nav__expand-collapse {
  align-items: center;
  button {
    cursor: pointer;
    background: transparent;
    border: none;
    color: $old-lace;
    font-size: 18px;
    width: 65px;
    margin: 0px;
    padding: 0px;
    i {
      transition: transform 0.3s ease-in-out;
      &.expanded {
        transform: rotate(45deg);
      }
    }
  }
  &.desktop-min {
    margin-top: 35px;
  }
}
.nav__drawer-header {
  margin-bottom: 20px;
  transition: margin-bottom 0.3s ease-out;
  border-width: 0px;
  button {
    padding: 0px;
    background: none;
    border: none;
    color: $old-lace;
    cursor: pointer;
    letter-spacing: 3.1px;
    font-weight: 350;
    font-size: 24px;
  }
  hr {
    border: none;
    margin: 5px 0 0;
    width: 0px;
    height: 1px;
    background-color: $nyanza;
    transition: width 0.3s ease-out;
    align-self: center;
  }
  &.active {
    margin-bottom: 0px;
    hr {
      width: 125px;
    }
    button {
      font-weight: 500;
    }
  }
}
.nav__section {
  padding: 0 20px;
  font-size: 18px;
  letter-spacing: 1.05px;
  line-height: 27px;
  margin-bottom: 0px;
  height: auto;
  max-height: 0px;
  overflow-y: hidden;
  transition: max-height 0.2s ease-out, margin-bottom 0.2s ease-out, padding 0.2s ease-out;
  white-space: normal;
  &.active {
    padding: 5px 20px 0;
    max-height: 300px;
    margin-bottom: 20px;
  }
}
.nav__archive-link {
  ::marker:hover {
    color: $nyanza;
  }
  button {
    color: $old-lace;
    font-size: 20px;
    font-family: "Barlow", Helvetica, sans-serif;
    letter-spacing: 1px;
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    &:hover {
      color: $nyanza;
    }
  }
}
.nav__media-links {
  display: flex;
  justify-content: center;
  :first-child {
    margin-right: 10px;
  }
  :last-child {
    margin-left: 10px;
  }
  &.desktop-min {
    align-items: center;
    flex-direction: column;
    :first-child, :last-child {
      margin: 0 0 16px;
    }
  }
}
.nav__media-icon {
  font-size: 42px;
  color: $old-lace;
}
