@import '../util/_theme';

#post {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin-bottom: 200px;
}
.post__title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
  border-bottom: 1px solid $slate-gray;
  @media (max-width: 375px) {
    flex-direction: column;
    border-bottom: none;
  }
}
.post__date {
  display: flex;
  flex-direction: column;
  color: $slate-gray;
  text-align: right;
  justify-content: flex-end;
  @media (max-width: 375px) {
    border-top: 1px solid $slate-gray;
    text-align: left;
  }
}
.post__title {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  @media (max-width: 375px) {
    font-size: 32px;
  }
}
.post__tags {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.post__tags-label {
  display: block;
  margin: 4px 8px 4px 0;
}
.post__tag {
  display: block;
  padding: 4px;
  margin-right: 4px;
  background-color: $old-lace;
  color: $slate-darker;
  border: 2px solid $slate-gray;
  background-color: $old-lace;
  text-transform: uppercase;
  box-shadow: 1px 1px 1px $slate-darker;
  text-decoration: none;
}
.post__image-group {
  display: flex;
  flex-direction: column;
  &.left {
    float: left;
    padding: 10px 20px 10px 0;
  }
  &.right {
    float: right;
    padding: 10px 0px 10px 20px;
  }
  &.center {
    margin: 0 auto;
  }
  &.small {
    width: 300px;
  }
  &.medium {
    width: 500px;
  }
  @media (max-width: $phone-width) {
    &.small {
      width: 100%;
    }
    &.medium {
      width: 100%;
    }
  }
}
.post__image-group__comment {
  max-width: 90%;
  font-style: italic;
  text-align: center;
}
.post__image-group__image {
  max-width: 100%;
}
.post__content {
  font-size: 18px;
  line-height: 28px;
  text-align: justify;
  display: block;
  letter-spacing: 0.15px;
  max-width: 100%;
}

.post-image {
  float: right;
  width: 30px;
  background-color: black;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
